<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Estruturas_De_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#tipos de variavéis comprando com a função type e retornando boleano

variavel_1 = 3.5
print(type(variavel_1) is float)

variavel_2 = 10
print(type(variavel_2) is int)

variavel_3 = True
print(type(variavel_3) is bool)

variavel_4 = 'palavra'
print(type(variavel_4) is str)

True
True
True
True

### Estruturas de dados - Listas

In [10]:
# criando uma lista com tipos de dados diferentes
x = [23, 45, 65, 65, 'vitor', 'Gabriela', 'Guilherme', 'Nelson', 'Lais', 3, 5, 7, [34,54,65], 'Nilane',
     ['Maria', 'Claudio', 45,78], 65, 'Marilia', ['Corinthians', 'São paulo', 'paulemiras'], 67, 87, 90]
x

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [11]:
type(x) # verificando o tipo de arquivo

list

In [12]:
len(x) # verificando o tamanho da lista

21

In [45]:
#criando uma lista com tipos de dados numericos
z = [10,4,76,65,34,65,65,34,54,34,56,78,98,88,76,76,23,54,567,4567,2345,333,33,567,654,59,876,789,22,44,]
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44]

In [47]:
max(z) # retorna o maior valor da lista

4567

In [48]:
min(z) # retorna o menor valor da lista

4

In [49]:
sum(z) # retorna a soma dos valores d list

11846

In [50]:
z.append(989) # add o valor ao final da lista
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989]

In [51]:
z.extend(x) # add a o conteúdo da lista x dentro da lista z

In [53]:
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [56]:
del z[1] # remove o item da lista de acordo com indice especificado, no exemplo excluido o item 1 ou seja o "4"
z

[10,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [58]:
'Osvaldo' in z # verifica se o item especificado se encontra na lista retornando verdadeiro ou falso

False

In [61]:
 y = [87,78,67,54,34,56,54,34,44,87,89] # criando uma lista com dados numericos
 y

[87, 78, 67, 54, 34, 56, 54, 34, 44, 87, 89]

In [63]:
y.sort() # colocando dados da lista em ordem crescente
y

[34, 34, 44, 54, 54, 56, 67, 78, 87, 87, 89]

In [64]:
z.reverse() # invertendo os elementos da lista
z

[90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 4567,
 2345,
 989,
 876,
 789,
 654,
 567,
 567,
 333,
 98,
 88,
 78,
 76,
 76,
 65,
 65,
 65,
 65,
 59,
 56,
 54,
 54,
 45,
 44,
 34,
 34,
 34,
 33,
 23,
 23,
 22,
 10]

In [65]:
print(z, z[3]) # mostra a lista e o item 3 da lista

[90, 87, 67, ['Corinthians', 'São paulo', 'paulemiras'], 'Marilia', 65, ['Maria', 'Claudio', 45, 78], 'Nilane', [34, 54, 65], 7, 5, 3, 'Lais', 'Nelson', 'Guilherme', 'Gabriela', 'vitor', 4567, 2345, 989, 876, 789, 654, 567, 567, 333, 98, 88, 78, 76, 76, 65, 65, 65, 65, 59, 56, 54, 54, 45, 44, 34, 34, 34, 33, 23, 23, 22, 10] ['Corinthians', 'São paulo', 'paulemiras']

In [66]:
print(z[-1]) # mostra o ultimo item da lista

10

In [67]:
z.pop() # remove e retorna o ultimo elemento da lista

10

In [70]:
for lista in z: # um loop com a lista de animais
  print(lista)

90
87
67
['Corinthians', 'São paulo', 'paulemiras']
Marilia
65
['Maria', 'Claudio', 45, 78]
Nilane
[34, 54, 65]
7
5
3
Lais
Nelson
Guilherme
Gabriela
vitor
4567
2345
989
876
789
654
567
567
333
98
88
78
76
76
65
65
65
65
59
56
54
54
45
44
34
34
34
33
23
23
22