<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Estruturas_De_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#tipos de variavéis comprando com a função type e retornando boleano

variavel_1 = 3.5
print(type(variavel_1) is float)

variavel_2 = 10
print(type(variavel_2) is int)

variavel_3 = True
print(type(variavel_3) is bool)

variavel_4 = 'palavra'
print(type(variavel_4) is str)

True
True
True
True

### Estruturas de dados - Listas

In [2]:
# criando uma lista com tipos de dados diferentes
x = [23, 45, 65, 65, 'vitor', 'Gabriela', 'Guilherme', 'Nelson', 'Lais', 3, 5, 7, [34,54,65], 'Nilane',
     ['Maria', 'Claudio', 45,78], 65, 'Marilia', ['Corinthians', 'São paulo', 'paulemiras'], 67, 87, 90]
x

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [3]:
type(x) # verificando o tipo de arquivo

list

In [4]:
len(x) # verificando o tamanho da lista

21

In [5]:
#criando uma lista com tipos de dados numericos
z = [10,4,76,65,34,65,65,34,54,34,56,78,98,88,76,76,23,54,567,4567,2345,333,33,567,654,59,876,789,22,44,]
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44]

In [6]:
max(z) # retorna o maior valor da lista

4567

In [7]:
min(z) # retorna o menor valor da lista

4

In [8]:
sum(z) # retorna a soma dos valores d list

11846

In [9]:
z.append(989) # add o valor ao final da lista
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989]

In [10]:
z.extend(x) # add a o conteúdo da lista x dentro da lista z

In [11]:
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [12]:
del z[1] # remove o item da lista de acordo com indice especificado, no exemplo excluido o item 1 ou seja o "4"
z

[10,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [13]:
'Osvaldo' in z # verifica se o item especificado se encontra na lista retornando verdadeiro ou falso

False

In [14]:
 y = [87,78,67,54,34,56,54,34,44,87,89] # criando uma lista com dados numericos
 y

[87, 78, 67, 54, 34, 56, 54, 34, 44, 87, 89]

In [15]:
y.sort() # colocando dados da lista em ordem crescente
y

[34, 34, 44, 54, 54, 56, 67, 78, 87, 87, 89]

In [16]:
z.reverse() # invertendo os elementos da lista
z

[90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 10]

In [17]:
print(z, z[3]) # mostra a lista e o item 3 da lista

[90, 87, 67, ['Corinthians', 'São paulo', 'paulemiras'], 'Marilia', 65, ['Maria', 'Claudio', 45, 78], 'Nilane', [34, 54, 65], 7, 5, 3, 'Lais', 'Nelson', 'Guilherme', 'Gabriela', 'vitor', 65, 65, 45, 23, 989, 44, 22, 789, 876, 59, 654, 567, 33, 333, 2345, 4567, 567, 54, 23, 76, 76, 88, 98, 78, 56, 34, 54, 34, 65, 65, 34, 65, 76, 10] ['Corinthians', 'São paulo', 'paulemiras']

In [18]:
print(z[-1]) # mostra o ultimo item da lista

10

In [19]:
z.pop() # remove e retorna o ultimo elemento da lista

10

In [20]:
for lista in z: # um loop com a lista de dados
  print(lista)

90
87
67
['Corinthians', 'São paulo', 'paulemiras']
Marilia
65
['Maria', 'Claudio', 45, 78]
Nilane
[34, 54, 65]
7
5
3
Lais
Nelson
Guilherme
Gabriela
vitor
65
65
45
23
989
44
22
789
876
59
654
567
33
333
2345
4567
567
54
23
76
76
88
98
78
56
34
54
34
65
65
34
65
76

In [21]:
conjunto_listas = x + z + y # concatenando todas as listas

In [23]:
conjunto_listas

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89]

In [24]:
repetição_conjuntos =  conjunto_listas * 5  # multiplicando a listas 5 vezes

In [25]:
repetição_conjuntos

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89]

In [32]:
lista_fatiada1 = repetição_conjuntos[10:40] # fatiando lista da posição 10 até a posição 40
lista_fatiada2 = repetição_conjuntos[4:14]
lista_fatiada3 = repetição_conjuntos[5:15]

In [33]:
lista_fatiada1

[5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65]

In [34]:
lista_fatiada2

['vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane']

In [35]:
lista_fatiada3

['Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78]]

In [40]:
l1 = list(range(5)) #comando range cria uma lista com 5 inteiros
l1
type(l1)

list

In [42]:
l2 = list(range(3,33,3)) # função range criando uma lista da posição 3 até a 30 pulando 3 numeros
l2

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

### Dicionários

In [44]:
# criando um dicionário usando chaves de string e valores de string e inteiros. 

x =  {'Antonio':'tio', 'Marlene':'prima', 'andressa': 'namorada', 'Rucelio': 'Amigo', 'Antonieta': 'Vovó',
      'Joarez': 45, 'Joao Neto': 37, 'Karina': 45}
x

{'Antonieta': 'Vovó',
 'Antonio': 'tio',
 'Joao Neto': 37,
 'Joarez': 45,
 'Karina': 45,
 'Marlene': 'prima',
 'Rucelio': 'Amigo',
 'andressa': 'namorada'}

In [59]:
y = x['Marlene'] #acessando valor específico no dicionário no exemplo acima "prima"
y

'prima'

In [70]:
# del x['Joarez'] # excluiu Joarez da lista / comentei o comando pois, a chave ja foi excluida se rodar novamente vai dar erro.

In [72]:
x

{'Antonieta': 'Vovó',
 'Antonio': 'tio',
 'Joao Neto': 37,
 'Marlene': 'prima',
 'Rucelio': 'Amigo',
 'andressa': 'namorada'}

In [75]:
'Antonia' in x # Comando 'in' verifica se tem a chave no dicionario e retorna verdadeiro ou falso

False

In [77]:
'Marlene' in x # verifica se tem a chave no dicionario e retorna verdadeiro ou falso

True

In [79]:
x.keys() # retorna as chaves do dicionário

dict_keys(['Antonio', 'Marlene', 'andressa', 'Rucelio', 'Antonieta', 'Joao Neto'])

In [80]:
x.values()

dict_values(['tio', 'prima', 'namorada', 'Amigo', 'Vovó', 37])

In [82]:
x['Vitor Eduardo'] = 'genro' # inclyuindo uma cheve e um valor no dicionário
x

{'Antonieta': 'Vovó',
 'Antonio': 'tio',
 'Joao Neto': 37,
 'Marlene': 'prima',
 'Rucelio': 'Amigo',
 'Vitor Eduardo': 'genro',
 'andressa': 'namorada'}

In [85]:
x['Vitor Eduardo'] # mostrando dado

'genro'

### Sets

In [ ]:
animais = {'','','','',''}