<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Estruturas_De_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Indentificando tipos de variáveis com a função 'type' e 'is', e retornando um valor boleano. 

variavel_1 = 3.5
print(type(variavel_1) is float)

variavel_2 = 10
print(type(variavel_2) is int)

variavel_3 = True
print(type(variavel_3) is bool)

variavel_4 = 'palavra'
print(type(variavel_4) is str)

True
True
True
True

### Estruturas de dados - Listas

In [ ]:
# Criando uma lista com tipos de dados diferentes. 
x = [23, 45, 65, 65, 'vitor', 'Gabriela', 'Guilherme', 'Nelson', 'Lais', 3, 5, 7, [34,54,65], 'Nilane',
     ['Maria', 'Claudio', 45,78], 65, 'Marilia', ['Corinthians', 'São paulo', 'paulemiras'], 67, 87, 90]
x

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [ ]:
type(x) # Comando 'type' verificando o tipo de arquivo.

list

In [ ]:
len(x) # Comando 'len' verificando o tamanho da lista.

21

In [ ]:
# Criando uma lista com tipos de dados numéricos. 
z = [10,4,76,65,34,65,65,34,54,34,56,78,98,88,76,76,23,54,567,4567,2345,333,33,567,654,59,876,789,22,44,]
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44]

In [ ]:
max(z) # Retorna o maior valor da lista.

4567

In [ ]:
min(z) # Retorna o menor valor da lista.

4

In [ ]:
sum(z) # Retorna a soma dos valores da lista.

11846

In [ ]:
z.append(989) # Adiciona o valor ao final da lista. 
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989]

In [ ]:
z.extend(x) # Adciona o conteúdo da lista x dentro da lista z.

In [ ]:
z

[10,
 4,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [ ]:
del z[1] # Remove o item da lista, de acordo com indíce especificado, no exemplo foi excluído o item 1,  ou seja o "4". 
z

[10,
 76,
 65,
 34,
 65,
 65,
 34,
 54,
 34,
 56,
 78,
 98,
 88,
 76,
 76,
 23,
 54,
 567,
 4567,
 2345,
 333,
 33,
 567,
 654,
 59,
 876,
 789,
 22,
 44,
 989,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90]

In [ ]:
'Osvaldo' in z # Verifica se o item especificado se encontra na lista,  retornando verdadeiro ou falso.

False

In [ ]:
 y = [87,78,67,54,34,56,54,34,44,87,89] # Criando uma lista com dados numéricos. 
 y

[87, 78, 67, 54, 34, 56, 54, 34, 44, 87, 89]

In [ ]:
y.sort() # Colocando dados da lista em ordem crescente. 
y

[34, 34, 44, 54, 54, 56, 67, 78, 87, 87, 89]

In [ ]:
z.reverse() # Invertendo os elementos da lista. 
z

[90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 10]

In [ ]:
print(z, z[3]) # Mostra a lista e o item 3 da lista.

[90, 87, 67, ['Corinthians', 'São paulo', 'paulemiras'], 'Marilia', 65, ['Maria', 'Claudio', 45, 78], 'Nilane', [34, 54, 65], 7, 5, 3, 'Lais', 'Nelson', 'Guilherme', 'Gabriela', 'vitor', 65, 65, 45, 23, 989, 44, 22, 789, 876, 59, 654, 567, 33, 333, 2345, 4567, 567, 54, 23, 76, 76, 88, 98, 78, 56, 34, 54, 34, 65, 65, 34, 65, 76, 10] ['Corinthians', 'São paulo', 'paulemiras']

In [ ]:
print(z[-1]) # Mostra o último item da lista.

10

In [ ]:
z.pop() # Remove e retorna o último elemento da lista.

10

In [ ]:
for lista in z: # Criei uma lista de dados utilizando o loop. 
  print(lista)

90
87
67
['Corinthians', 'São paulo', 'paulemiras']
Marilia
65
['Maria', 'Claudio', 45, 78]
Nilane
[34, 54, 65]
7
5
3
Lais
Nelson
Guilherme
Gabriela
vitor
65
65
45
23
989
44
22
789
876
59
654
567
33
333
2345
4567
567
54
23
76
76
88
98
78
56
34
54
34
65
65
34
65
76

In [ ]:
conjunto_listas = x + z + y # Concatenando todas as listas.

In [ ]:
conjunto_listas

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89]

In [ ]:
repetição_conjuntos =  conjunto_listas * 5  # Multiplicando a lista 5 vezes.

In [ ]:
repetição_conjuntos

[23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89,
 23,
 45,
 65,
 65,
 'vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65,
 45,
 23,
 989,
 44,
 22,
 789,
 876,
 59,
 654,
 567,
 33,
 333,
 2345,
 4567,
 567,
 54,
 23,
 76,
 76,
 88,
 98,
 78,
 56,
 34,
 54,
 34,
 65,
 65,
 34,
 65,
 76,
 34,
 34,
 44,
 54,
 54,
 56,
 67,
 78,
 87,
 87,
 89]

In [ ]:
lista_fatiada1 = repetição_conjuntos[10:40] # Fatiando lista da posição 10 até a posição 40. 
lista_fatiada2 = repetição_conjuntos[4:14]
lista_fatiada3 = repetição_conjuntos[5:15]

In [ ]:
lista_fatiada1

[5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78],
 65,
 'Marilia',
 ['Corinthians', 'São paulo', 'paulemiras'],
 67,
 87,
 90,
 90,
 87,
 67,
 ['Corinthians', 'São paulo', 'paulemiras'],
 'Marilia',
 65,
 ['Maria', 'Claudio', 45, 78],
 'Nilane',
 [34, 54, 65],
 7,
 5,
 3,
 'Lais',
 'Nelson',
 'Guilherme',
 'Gabriela',
 'vitor',
 65,
 65]

In [ ]:
lista_fatiada2

['vitor',
 'Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane']

In [ ]:
lista_fatiada3

['Gabriela',
 'Guilherme',
 'Nelson',
 'Lais',
 3,
 5,
 7,
 [34, 54, 65],
 'Nilane',
 ['Maria', 'Claudio', 45, 78]]

In [ ]:
l1 = list(range(5)) # Comando range cria uma lista com 5 inteiros. 
l1
type(l1)

list

In [ ]:
l2 = list(range(3,33,3)) # Função range criando uma lista da posição 3 até a 30 pulando 3 numeros
l2

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

### Dicionários

In [ ]:
# Criando um dicionário usando chaves no formato de string,  e valores no formato de  string e inteiros. 

x =  {'Antonio':'tio', 'Marlene':'prima', 'andressa': 'namorada', 'Rucelio': 'Amigo', 'Antonieta': 'Vovó',
      'Joarez': 45, 'Joao Neto': 37, 'Karina': 45}
x

{'Antonieta': 'Vovó',
 'Antonio': 'tio',
 'Joao Neto': 37,
 'Joarez': 45,
 'Karina': 45,
 'Marlene': 'prima',
 'Rucelio': 'Amigo',
 'andressa': 'namorada'}

In [ ]:
y = x['Marlene'] # Acessando valor específico no dicionário,  no exemplo acima "prima". 
y

'prima'

In [ ]:
# del x['Joarez'] # Excluiu Joarez da lista / comentei o comando pois, a chave ja foi excluída, se chamar a função novamente com esse parametro vai dar erro.

In [ ]:
x

{'Antonieta': 'Vovó',
 'Antonio': 'tio',
 'Joao Neto': 37,
 'Joarez': 45,
 'Karina': 45,
 'Marlene': 'prima',
 'Rucelio': 'Amigo',
 'andressa': 'namorada'}

In [ ]:
'Antonia' in x # Comando 'in' verifica se tem a chave no dicionário e retorna verdadeiro ou falso.

False

In [ ]:
'Marlene' in x # Verifica se tem a chave no dicionário e retorna verdadeiro ou falso.

True

In [ ]:
x.keys() # Retorna as chaves do dicionário.

dict_keys(['Antonio', 'Marlene', 'andressa', 'Rucelio', 'Antonieta', 'Joarez', 'Joao Neto', 'Karina'])

In [ ]:
x.values()

dict_values(['tio', 'prima', 'namorada', 'Amigo', 'Vovó', 45, 37, 45])

In [ ]:
x['Vitor Eduardo'] = 'genro' # Incluindo uma chave e um valor no dicionário. 
x

{'Antonieta': 'Vovó',
 'Antonio': 'tio',
 'Joao Neto': 37,
 'Joarez': 45,
 'Karina': 45,
 'Marlene': 'prima',
 'Rucelio': 'Amigo',
 'Vitor Eduardo': 'genro',
 'andressa': 'namorada'}

In [ ]:
x['Vitor Eduardo'] # Chamando a chave especificada e retornando o valor.

'genro'

### Sets

In [ ]:
animais = {'gato','cachorro','baleia','leão','tigre', 'macaco', 'papagaio'} # Criando conjunto de dados set. 
animais

{'baleia', 'cachorro', 'gato', 'leão', 'macaco', 'papagaio', 'tigre'}

In [ ]:
'gato' in animais # Comando in verifica se existe o dados especificado e retorna verdadeiro ou falso.

True

In [ ]:
'cavalo' in animais # Comando 'in' verifica se existe o dado especificado e retorna verdadeiro ou falso.

False

In [ ]:
animais.add('urso') # Adiciona um elemento no set. 
animais

{'baleia', 'cachorro', 'gato', 'leão', 'macaco', 'papagaio', 'tigre', 'urso'}

In [ ]:
len(animais) # Mostra a quantidade de elementos no set.

8

In [ ]:
animais.add('urso') # Incluir um elemento existente, a função 'add' não será concluida. 
animais

{'baleia', 'cachorro', 'gato', 'leão', 'macaco', 'papagaio', 'tigre', 'urso'}

In [ ]:
animais

{'baleia', 'cachorro', 'gato', 'leão', 'macaco', 'papagaio', 'tigre', 'urso'}

In [ ]:
animais.remove('urso') # Removendo o dado 'urso' do set

In [ ]:
animais

{'baleia', 'cachorro', 'gato', 'leão', 'macaco', 'papagaio', 'tigre'}

### Tuplas

In [ ]:
# Criando uma tupla com dados numéricos. 
tupla_1 = (1,33,54,65,77,88,98,45,65,33,45,654,789,234,543,456,7878,6,23,1,65,9,78,789,99,87,8765,9)
tupla_1

(1,
 33,
 54,
 65,
 77,
 88,
 98,
 45,
 65,
 33,
 45,
 654,
 789,
 234,
 543,
 456,
 7878,
 6,
 23,
 1,
 65,
 9,
 78,
 789,
 99,
 87,
 8765,
 9)

In [ ]:
tupla_1[5]# Chamando o item da posição 5 na tupla.

88

In [ ]:
# Criado dicionário com tuplas como chave. 
dici_tupla = {(0,1): 0, (1,2): 1, (2,3): 2, (3,4): 3, (4,5): 4, (5,6): 5, (6,7): 6, (7,8): 7, (8,9): 8, (9,10): 9, (10,11): 10, 
              (11,12): 11, (12,13): 12, (13,14): 13} 
dici_tupla

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9,
 (10, 11): 10,
 (11, 12): 11,
 (12, 13): 12,
 (13, 14): 13}

In [ ]:
tupla_2 = (5,6) # Criando uma segunda tupla. 
tupla_2

(5, 6)

In [ ]:
type(tupla_2) # Mostrando o tipo da variável.

tuple

In [ ]:
dici_tupla[tupla_2] # Chamando a tupla com chave (5,6), no dicionário "dici_tupla".

5

In [ ]:
dici_tupla_2 = {(y, y+1): y for y in range(20)} # Criando um dicionário com tuplas como chave, usando for.  
dici_tupla_2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9,
 (10, 11): 10,
 (11, 12): 11,
 (12, 13): 12,
 (13, 14): 13,
 (14, 15): 14,
 (15, 16): 15,
 (16, 17): 16,
 (17, 18): 17,
 (18, 19): 18,
 (19, 20): 19}