<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### MatPlotlib

In [1]:
#MatPlotLib
import pandas as pd # Importando bibliotecas. 
from google.colab import files

In [2]:
uploaded = files.upload() # Carregando a base de dados.

Saving ENADE2017.xlsx to ENADE2017.xlsx

In [4]:
enade = pd.read_excel('ENADE2017.xlsx') # Comando read lendo o arquivo excel. 
enade

       Ano  Código da Área  ... Conceito Enade (Contínuo)  Conceito Enade (Faixa)
0     2017            4004  ...                       NaN                      SC
1     2017            4004  ...                       NaN                      SC
2     2017            4004  ...                       NaN                      SC
3     2017            4004  ...                       NaN                      SC
4     2017            4004  ...                  4.881681                       5
...    ...             ...  ...                       ...                     ...
1690  2017              79  ...                  1.306777                       2
1691  2017              79  ...                  1.287215                       2
1692  2017              79  ...                  0.587125                       1
1693  2017              79  ...                  0.514544                       1
1694  2017              79  ...                  0.122108                       1

[1695 rows x 21 columns]

In [6]:
enade.shape # Comando shape verificar a quantidade de linhas e colunas.

(1695, 21)

In [8]:
enade.head(3) # Comando head retorna a quantidade de linha estipulada no parâmetro.

    Ano  Código da Área  ... Conceito Enade (Contínuo)  Conceito Enade (Faixa)
0  2017            4004  ...                       NaN                      SC
1  2017            4004  ...                       NaN                      SC
2  2017            4004  ...                       NaN                      SC

[3 rows x 21 columns]

In [9]:
enade.columns # Retornar os nomes das colunas.

Index(['Ano', 'Código da Área', 'Área de Avaliação', 'Código da IES',
       'Nome da IES', 'Sigla da IES', 'Organização Acadêmica',
       'Categoria Administrativa', 'Código do Curso', 'Modalidade de Ensino',
       'Código do Município', 'Município do Curso', 'Sigla da UF',
       'Nº de Concluintes Inscritos', 'Nº  de Concluintes Participantes',
       'Nota Bruta - FG', 'Nota Padronizada - FG', 'Nota Bruta - CE',
       'Nota Padronizada - CE', 'Conceito Enade (Contínuo)',
       'Conceito Enade (Faixa)'],
      dtype='object')

In [12]:
new_table_enade = enade.drop(columns=["Código da Área"]) # Comando drop exclui coluna passada como parâmetro. 
new_table_enade

       Ano  ... Conceito Enade (Faixa)
0     2017  ...                     SC
1     2017  ...                     SC
2     2017  ...                     SC
3     2017  ...                     SC
4     2017  ...                      5
...    ...  ...                    ...
1690  2017  ...                      2
1691  2017  ...                      2
1692  2017  ...                      1
1693  2017  ...                      1
1694  2017  ...                      1

[1695 rows x 20 columns]

In [13]:
new_table_enade.columns # Retornando nome de colunas do dataframe.

Index(['Ano', 'Área de Avaliação', 'Código da IES', 'Nome da IES',
       'Sigla da IES', 'Organização Acadêmica', 'Categoria Administrativa',
       'Código do Curso', 'Modalidade de Ensino', 'Código do Município',
       'Município do Curso', 'Sigla da UF', 'Nº de Concluintes Inscritos',
       'Nº  de Concluintes Participantes', 'Nota Bruta - FG',
       'Nota Padronizada - FG', 'Nota Bruta - CE', 'Nota Padronizada - CE',
       'Conceito Enade (Contínuo)', 'Conceito Enade (Faixa)'],
      dtype='object')

In [18]:
new_table_enade_2 = new_table_enade.drop(columns=["Código da IES", "Código do Curso"]) # Comando drop exclui coluna passada como parâmetro.

In [26]:
new_table_enade_2.head(2)

    Ano  ... Conceito Enade (Faixa)
0  2017  ...                     SC
1  2017  ...                     SC

[2 rows x 18 columns]

In [25]:
x = new_table_enade_2.iloc[:,[0,10,11,12,13,14,15,16]] #Selecionando algumas colunas pertinentes para analise matematica e colocando em uma variável. 
x

       Ano  ...  Conceito Enade (Contínuo)
0     2017  ...                        NaN
1     2017  ...                        NaN
2     2017  ...                        NaN
3     2017  ...                        NaN
4     2017  ...                   4.881681
...    ...  ...                        ...
1690  2017  ...                   1.306777
1691  2017  ...                   1.287215
1692  2017  ...                   0.587125
1693  2017  ...                   0.514544
1694  2017  ...                   0.122108

[1695 rows x 8 columns]

In [27]:
x.describe() # Comando describe retorna alguns cauculos

          Ano  ...  Conceito Enade (Contínuo)
count  1695.0  ...                1604.000000
mean   2017.0  ...                   2.454092
std       0.0  ...                   0.926690
min    2017.0  ...                   0.000000
25%    2017.0  ...                   1.785986
50%    2017.0  ...                   2.415933
75%    2017.0  ...                   3.087379
max    2017.0  ...                   5.000000

[8 rows x 8 columns]