<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd  # importar o pacote pandas
s1 = pd.Series([2,3,4,5,6,54,55,67,88]) #index
s1

0     2
1     3
2     4
3     5
4     6
5    54
6    55
7    67
8    88
dtype: int64

In [7]:
import numpy as np

array = np.array([2,33,44,55,76,78])
x = pd.Series(array)
x

0     2
1    33
2    44
3    55
4    76
5    78
dtype: int64