<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Biblioteca Pandas

In [1]:
import pandas as pd  # Importar o pacote pandas. 
from google.colab import files

uploaded = files.upload()

Saving teste_1.xlsx to teste_1.xlsx

In [2]:
files.download("teste_1.xlsx") # Dowloader do arquivo na minha máquina.

In [3]:
dados1 = pd.read_excel('teste_1.xlsx') # A Função read lê o arquivo excel. 
dados1

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h
8        9      i
9       10      j

In [4]:
dados1.shape # Visualizar linhas e colunas através dio comando shape.

(10, 2)

In [5]:
dados1.head(10) # Comando head retorna a quantidade de linha estipulada como parâmetro.

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h
8        9      i
9       10      j

In [6]:
uploaded = files.upload() # Fazendo upload da base de dados census.

Saving census.csv to census.csv

In [7]:
dados_2 =  pd.read_csv("census.csv") # Visualaizando 
dados_2

       Unnamed: 0  age  ...  native.country  income
0               1   39  ...   United-States   <=50K
1               2   50  ...   United-States   <=50K
2               3   38  ...   United-States   <=50K
3               4   53  ...   United-States   <=50K
4               5   28  ...            Cuba   <=50K
...           ...  ...  ...             ...     ...
30157       32557   27  ...   United-States   <=50K
30158       32558   40  ...   United-States    >50K
30159       32559   58  ...   United-States   <=50K
30160       32560   22  ...   United-States   <=50K
30161       32561   52  ...   United-States    >50K

[30162 rows x 16 columns]

In [8]:
dados_2.shape # Mostra a quantidade de linhas e colunas.

(30162, 16)

In [9]:
type(dados_2)

pandas.core.frame.DataFrame

In [10]:
dados_2.head(5) # Retornando 5 linhas do dataframe.

   Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
0           1   39          State-gov  ...             40   United-States   <=50K
1           2   50   Self-emp-not-inc  ...             13   United-States   <=50K
2           3   38            Private  ...             40   United-States   <=50K
3           4   53            Private  ...             40   United-States   <=50K
4           5   28            Private  ...             40            Cuba   <=50K

[5 rows x 16 columns]

In [11]:
alunos = {'nome': ['Marcelo','Lucas','Cynthia','Helena'], 'Media':[4,7,5.5,9],
          'Status':['Reprovado','Aprovado','Reprovado','Aprovado']}

In [12]:
type(alunos) # Tipo de dados.

dict

In [14]:
data_frame1 = pd.DataFrame(alunos) # Transformar um dicionário em um dataframe. 
type(data_frame1)
data_frame1

      nome  Media     Status
0  Marcelo    4.0  Reprovado
1    Lucas    7.0   Aprovado
2  Cynthia    5.5  Reprovado
3   Helena    9.0   Aprovado

In [15]:
data_frame1.shape # Retornas quantidade de linhas e colunas.

(4, 3)

In [16]:
data_frame1.head(2)

      nome  Media     Status
0  Marcelo    4.0  Reprovado
1    Lucas    7.0   Aprovado

In [17]:
data_frame1.describe() # Comando describe retorna alguns valores estatísticos do dataframe.

          Media
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000