<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Biblioteca Pandas

In [2]:
import pandas as pd  # importar o pacote pandas
from google.colab import files

uploaded = files.upload()

Saving teste_1.xlsx to teste_1.xlsx

In [ ]:
files.download("teste_1.xlsx") # Dowloader do arquivo na minha máquina.

In [3]:
dados1 = pd.read_excel('teste_1.xlsx') # A Função read lê o arquivo excel. 
dados1

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h
8        9      i
9       10      j

In [4]:
dados1.shape # mostra linhas e colunas

(10, 2)

In [5]:
dados1.head(10) # quantidade de linhas estipuladas

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h
8        9      i
9       10      j

In [6]:
uploaded = files.upload()

Saving census.csv to census.csv

In [8]:
dados_2 =  pd.read_csv("census.csv")
dados_2

       Unnamed: 0  age  ...  native.country  income
0               1   39  ...   United-States   <=50K
1               2   50  ...   United-States   <=50K
2               3   38  ...   United-States   <=50K
3               4   53  ...   United-States   <=50K
4               5   28  ...            Cuba   <=50K
...           ...  ...  ...             ...     ...
30157       32557   27  ...   United-States   <=50K
30158       32558   40  ...   United-States    >50K
30159       32559   58  ...   United-States   <=50K
30160       32560   22  ...   United-States   <=50K
30161       32561   52  ...   United-States    >50K

[30162 rows x 16 columns]

In [11]:
dados_2.shape # Mostra a quantidade de linhas e colunas.

(30162, 16)

In [12]:
type(dados_2)

pandas.core.frame.DataFrame

In [14]:
dados_2.head(5) # Retornando 5 linhas do dataframe

   Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
0           1   39          State-gov  ...             40   United-States   <=50K
1           2   50   Self-emp-not-inc  ...             13   United-States   <=50K
2           3   38            Private  ...             40   United-States   <=50K
3           4   53            Private  ...             40   United-States   <=50K
4           5   28            Private  ...             40            Cuba   <=50K

[5 rows x 16 columns]

In [ ]:
alunos = {'nome': ['Marcelo','Lucas','Cynthia','Helena'], 'Media':[4,7,5.5,9],
          'Status':['Reprovado','Aprovado','Reprovado','Aprovado']}

In [ ]:
type(alunos) # tipo de dados

dict

In [ ]:
df1 = pd.DataFrame(alunos) # transformar um dicionario em um dataframe
type(df1)
df1

      nome  Media     Status
0  Marcelo    4.0  Reprovado
1    Lucas    7.0   Aprovado
2  Cynthia    5.5  Reprovado
3   Helena    9.0   Aprovado