<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Biblioteca Pandas

In [3]:
import pandas as pd  # importar o pacote pandas
from google.colab import files

uploaded = files.upload()

Saving teste_1.xlsx to teste_1.xlsx

In [4]:
files.download("teste_1.xlsx") # Dowloader do arquivo na minha máquina.

In [5]:
dados1 = pd.read_excel('teste_1.xlsx') # A Função read lê o arquivo excel. 
dados1

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h
8        9      i
9       10      j

In [ ]:
dados1.shape # mostra linhas e colunas

(300, 4)

In [ ]:
dados1.head(20) # quantidade de linhas estipuladas

    Indivíduo País de Origem  Unnamed: 2 País de Origem.1
0           1         Brasil         NaN           Brasil
1           2     Inglaterra         NaN       Inglaterra
2           3          Japão         NaN            Japão
3           4            EUA         NaN              EUA
4           5         Brasil         NaN            China
5           6          China         NaN        Argentina
6           7         Brasil         NaN        Austrália
7           8         Brasil         NaN            Suiça
8           9         Brasil         NaN    África do Sul
9          10            EUA         NaN          Uruguai
10         11            EUA         NaN         Alemanha
11         12      Argentina         NaN           México
12         13         Brasil         NaN            Índia
13         14          Japão         NaN           Rússia
14         15      Austrália         NaN            Egito
15         16          Suiça         NaN           França
16         17      Austrália         NaN           Itália
17         18         Brasil         NaN           Canadá
18         19            EUA         NaN            Chile
19         20         Brasil         NaN              NaN

In [ ]:
alunos = {'nome': ['Marcelo','Lucas','Cynthia','Helena'], 'Media':[4,7,5.5,9],
          'Status':['Reprovado','Aprovado','Reprovado','Aprovado']}

In [ ]:
type(alunos) # tipo de dados

dict

In [ ]:
df1 = pd.DataFrame(alunos) # transformar um dicionario em um dataframe
type(df1)
df1

      nome  Media     Status
0  Marcelo    4.0  Reprovado
1    Lucas    7.0   Aprovado
2  Cynthia    5.5  Reprovado
3   Helena    9.0   Aprovado

In [ ]:
df1.shape

(4, 3)