<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/projeto_1_Empresa_Nacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Base 1 - Faculdade Inadi.xlsx

In [2]:
import pandas as pd # Importando bibliotecas. 
from google.colab import files

In [3]:
uploaded = files.upload() # Fazendo upload do arquivo.

Saving Base 2 - Empresa Nacion.xlsx to Base 2 - Empresa Nacion.xlsx

In [4]:
nion = pd.read_excel('Base 2 - Empresa Nacion.xlsx') # Comando read lendo o arquivo excel. 
nion

      Chave Venda         Cliente Segmento Cliente  ...  UF       Valor   Ano
0               1  Empresa - 2051       TECNOLOGIA  ...  MG  140.626060  2004
1               1  Empresa - 2051       TECNOLOGIA  ...  MG   22.247617  2004
2               1  Empresa - 2051       TECNOLOGIA  ...  MG    5.259043  2004
3               2  Empresa - 3606          QUÍMICA  ...  SP    6.055200  2004
4               3  Empresa - 4515          QUÍMICA  ...  SP   13.351716  2004
...           ...             ...              ...  ...  ..         ...   ...
8963        10859  Empresa - 3232       PROJETISTA  ...  SC   12.406432  2010
8964        10860  Empresa - 4658       PROJETISTA  ...  SC   17.856112  2010
8965        10860  Empresa - 4658       PROJETISTA  ...  SC   11.572160  2010
8966        10861  Empresa - 4080       PROJETISTA  ...  SC   23.830576  2010
8967        10862  Empresa - 4461           TÊXTIL  ...  SP    1.896623  2010

[8968 rows x 9 columns]

In [5]:
nion.head(10) # Função head retorna a quantidade de linha passada por parametro.

   Chave Venda         Cliente Segmento Cliente  ...  UF       Valor   Ano
0            1  Empresa - 2051       TECNOLOGIA  ...  MG  140.626060  2004
1            1  Empresa - 2051       TECNOLOGIA  ...  MG   22.247617  2004
2            1  Empresa - 2051       TECNOLOGIA  ...  MG    5.259043  2004
3            2  Empresa - 3606          QUÍMICA  ...  SP    6.055200  2004
4            3  Empresa - 4515          QUÍMICA  ...  SP   13.351716  2004
5            4  Empresa - 2302          QUÍMICA  ...  SP    9.097602  2004
6            5   Empresa - 347          QUÍMICA  ...  SP   36.196640  2004
7            6  Empresa - 4798    REPRESENTANTE  ...  RJ    1.883840  2004
8            7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004
9            7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004

[10 rows x 9 columns]

In [6]:
nion.columns # Comando columns retorna os nomes das colunas.

Index(['Chave Venda', 'Cliente', 'Segmento Cliente', 'Agrupamento Cliente',
       'Produto', 'Agrupamento Produto', 'UF', 'Valor', 'Ano'],
      dtype='object')

In [10]:
uf = nion['UF'] # Inserindo as colunas dentro de uma variável, para análise posterior. 
valor = nion['Valor'] 
ano = nion['Ano']
cliente = nion['Cliente']
produto = nion['Produto']
chave_venda =  nion["Chave Venda"]
agrup_produto = nion['Agrupamento Produto']
segmento_cliente = nion['Segmento Cliente']
agrup_cliente = nion['Agrupamento Cliente']

In [11]:
def func_head(x):  # funÇão para retornar colunas específicas e como parametro a quantidade de linhas. 
   lista = [ano.head(x), valor.head(x), 
           segmento_cliente.head(x), uf.head(x), 
           cliente, produto.head(x), chave_venda.head(x), 
           agrup_produto.head(x), agrup_cliente.head(x),
           cliente.head(x)    
            ]
   return lista

In [12]:
func_head(5)

[0    2004
 1    2004
 2    2004
 3    2004
 4    2004
 Name: Ano, dtype: int64, 0    140.626060
 1     22.247617
 2      5.259043
 3      6.055200
 4     13.351716
 Name: Valor, dtype: float64, 0    TECNOLOGIA
 1    TECNOLOGIA
 2    TECNOLOGIA
 3       QUÍMICA
 4       QUÍMICA
 Name: Segmento Cliente, dtype: object, 0    MG
 1    MG
 2    MG
 3    SP
 4    SP
 Name: UF, dtype: object, 0       Empresa - 2051
 1       Empresa - 2051
 2       Empresa - 2051
 3       Empresa - 3606
 4       Empresa - 4515
              ...
 8963    Empresa - 3232
 8964    Empresa - 4658
 8965    Empresa - 4658
 8966    Empresa - 4080
 8967    Empresa - 4461
 Name: Cliente, Length: 8968, dtype: object, 0    PARAFUSO SEXTAVADOS
 1                  ROSCA
 2           ARRUELA LISA
 3          BARRA ROSCADA
 4         BUCHA PLÁSTICA
 Name: Produto, dtype: object, 0    1
 1    1
 2    1
 3    2
 4    3
 Name: Chave Venda, dtype: int64, 0    FIXADORES
 1    FIXADORES
 2    FIXADORES
 3    FIXADORES
 4    FIXADORES
 Name: Agrupamento Produto, dtype: object, 0    Industria
 1    Industria
 2    Industria
 3    Industria
 4    Industria
 Name: Agrupamento Cliente, dtype: object, 0    Empresa - 2051
 1    Empresa - 2051
 2    Empresa - 2051
 3    Empresa - 3606
 4    Empresa - 4515
 Name: Cliente, dtype: object]

In [ ]:
valor.head(20)

0     140.626060
1      22.247617
2       5.259043
3       6.055200
4      13.351716
5       9.097602
6      36.196640
7       1.883840
8     452.545464
9     452.545464
10    452.545464
11     81.948924
12     83.077344
13      1.610683
14     33.909120
15     39.249806
16      1.102046
17     38.147760
18    114.443280
19     12.998496
Name: Valor, dtype: float64

In [15]:
nion.shape # Retorna quantidade de linhas e colunas.

(8968, 9)

In [17]:
nion.head(30)

    Chave Venda         Cliente Segmento Cliente  ...  UF       Valor   Ano
0             1  Empresa - 2051       TECNOLOGIA  ...  MG  140.626060  2004
1             1  Empresa - 2051       TECNOLOGIA  ...  MG   22.247617  2004
2             1  Empresa - 2051       TECNOLOGIA  ...  MG    5.259043  2004
3             2  Empresa - 3606          QUÍMICA  ...  SP    6.055200  2004
4             3  Empresa - 4515          QUÍMICA  ...  SP   13.351716  2004
5             4  Empresa - 2302          QUÍMICA  ...  SP    9.097602  2004
6             5   Empresa - 347          QUÍMICA  ...  SP   36.196640  2004
7             6  Empresa - 4798    REPRESENTANTE  ...  RJ    1.883840  2004
8             7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004
9             7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004
10            7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004
11            8  Empresa - 4819       AUTOMOTIVA  ...  SP   81.948924  2004
12            9  Empresa - 1930     FARMACÊUTICO  ...  RJ   83.077344  2004
13           10   Empresa - 560       PROJETISTA  ...  SP    1.610683  2004
14           11  Empresa - 4774           VIDROS  ...  SP   33.909120  2004
15           12  Empresa - 3196          BEBIDAS  ...  RJ   39.249806  2004
16           13  Empresa - 4331          BEBIDAS  ...  RJ    1.102046  2004
17           14  Empresa - 4834          BEBIDAS  ...  RJ   38.147760  2004
18           15  Empresa - 3802          BEBIDAS  ...  RJ  114.443280  2004
19           16  Empresa - 1057          QUÍMICA  ...  RJ   12.998496  2004
20           17  Empresa - 1704          QUÍMICA  ...  SP   24.005504  2004
21           18   Empresa - 619          QUÍMICA  ...  RJ   20.992571  2004
22           19   Empresa - 928          QUÍMICA  ...  RJ   98.901600  2004
23           20  Empresa - 4087          QUÍMICA  ...  RJ   48.320496  2014
24           22  Empresa - 1926          CURTUME  ...  BA   58.493232  2004
25           23  Empresa - 4169           TÊXTIL  ...  RJ    8.256871  2004
26           24  Empresa - 4066       AUTOMOTIVA  ...  MG    7.707462  2004
27           25  Empresa - 2181       EMBALAGENS  ...  SP   12.715920  2004
28           27  Empresa - 1943      CONSTRUTORA  ...  RS   37.172873  2004
29           29  Empresa - 2477       PROJETISTA  ...  PR   27.975024  2004

[30 rows x 9 columns]

In [19]:
new_table_nion = nion.drop(columns=["Chave Venda"]) # Excluindo a coluna "chave venda"

In [20]:
new_table_nion

             Cliente Segmento Cliente Agrupamento Cliente  ...  UF       Valor   Ano
0     Empresa - 2051       TECNOLOGIA           Industria  ...  MG  140.626060  2004
1     Empresa - 2051       TECNOLOGIA           Industria  ...  MG   22.247617  2004
2     Empresa - 2051       TECNOLOGIA           Industria  ...  MG    5.259043  2004
3     Empresa - 3606          QUÍMICA           Industria  ...  SP    6.055200  2004
4     Empresa - 4515          QUÍMICA           Industria  ...  SP   13.351716  2004
...              ...              ...                 ...  ...  ..         ...   ...
8963  Empresa - 3232       PROJETISTA       Intermediário  ...  SC   12.406432  2010
8964  Empresa - 4658       PROJETISTA       Intermediário  ...  SC   17.856112  2010
8965  Empresa - 4658       PROJETISTA       Intermediário  ...  SC   11.572160  2010
8966  Empresa - 4080       PROJETISTA       Intermediário  ...  SC   23.830576  2010
8967  Empresa - 4461           TÊXTIL           Industria  ...  SP    1.896623  2010

[8968 rows x 8 columns]

In [28]:
x = new_table_nion.iloc[:,6] #Selecionando a coluna 6 para análise matemática posterior.

In [29]:
x

0       140.626060
1        22.247617
2         5.259043
3         6.055200
4        13.351716
           ...
8963     12.406432
8964     17.856112
8965     11.572160
8966     23.830576
8967      1.896623
Name: Valor, Length: 8968, dtype: float64

In [34]:
x.count() # Retornando a quantidade de dados não nulos.

8968

In [37]:
x.isnull().sum() # Retorna a quantidade de campos nulos da coluna e soma retornando o valor.

0

In [40]:
x.isna().sum() # Função isna retorna a quantidade de campos vazios.

0

ValueError: ignored

In [ ]:
()#z.fillna(z.mean()) # Subistituindo os campos da coluna contendo 'NaN', pela média.

print(z.count()) # Retornando a contagem de dados não-nulos da coluna. 
print(z.isnull().sum()) # Retorna a quantidade de campos nulos da coluna.
print(z.isna().sum()) # Função isna retorna a quantidade de campos vazios.