<a href="https://colab.research.google.com/github/vitor-edu/Programa-de-Formacao-Big-Data-BRQ/blob/main/projeto_1_Empresa_Nacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Base 1 - Faculdade Inadi.xlsx

In [1]:
import pandas as pd # Importando bibliotecas. 
from google.colab import files

In [3]:
uploaded = files.upload() # Fazendo upload do arquivo.

Saving Base 2 - Empresa Nacion.xlsx to Base 2 - Empresa Nacion.xlsx

In [4]:
faculdade = pd.read_excel('Base 2 - Empresa Nacion.xlsx') # Comando read lendo o arquivo excel. 
faculdade

      Chave Venda         Cliente Segmento Cliente  ...  UF       Valor   Ano
0               1  Empresa - 2051       TECNOLOGIA  ...  MG  140.626060  2004
1               1  Empresa - 2051       TECNOLOGIA  ...  MG   22.247617  2004
2               1  Empresa - 2051       TECNOLOGIA  ...  MG    5.259043  2004
3               2  Empresa - 3606          QUÍMICA  ...  SP    6.055200  2004
4               3  Empresa - 4515          QUÍMICA  ...  SP   13.351716  2004
...           ...             ...              ...  ...  ..         ...   ...
8963        10859  Empresa - 3232       PROJETISTA  ...  SC   12.406432  2010
8964        10860  Empresa - 4658       PROJETISTA  ...  SC   17.856112  2010
8965        10860  Empresa - 4658       PROJETISTA  ...  SC   11.572160  2010
8966        10861  Empresa - 4080       PROJETISTA  ...  SC   23.830576  2010
8967        10862  Empresa - 4461           TÊXTIL  ...  SP    1.896623  2010

[8968 rows x 9 columns]

In [7]:
faculdade.head(10)

   Chave Venda         Cliente Segmento Cliente  ...  UF       Valor   Ano
0            1  Empresa - 2051       TECNOLOGIA  ...  MG  140.626060  2004
1            1  Empresa - 2051       TECNOLOGIA  ...  MG   22.247617  2004
2            1  Empresa - 2051       TECNOLOGIA  ...  MG    5.259043  2004
3            2  Empresa - 3606          QUÍMICA  ...  SP    6.055200  2004
4            3  Empresa - 4515          QUÍMICA  ...  SP   13.351716  2004
5            4  Empresa - 2302          QUÍMICA  ...  SP    9.097602  2004
6            5   Empresa - 347          QUÍMICA  ...  SP   36.196640  2004
7            6  Empresa - 4798    REPRESENTANTE  ...  RJ    1.883840  2004
8            7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004
9            7  Empresa - 4508       AUTOMOTIVA  ...  SP  452.545464  2004

[10 rows x 9 columns]

In [ ]:
faculdade.columns

Index(['Chave Venda', 'Cliente', 'Segmento Cliente', 'Agrupamento Cliente',
       'Produto', 'Agrupamento Produto', 'UF', 'Valor', 'Ano'],
      dtype='object')

In [8]:
chave_venda =  faculdade["Chave Venda"]

In [9]:
chave_venda.shape

(8968,)

In [11]:
uf = faculdade['UF']
valor = faculdade['Valor'] 
ano = faculdade['Ano']
cliente = faculdade['Cliente']
segmento_cliente = faculdade['Segmento Cliente']
agrup_cliente = faculdade['Agrupamento Cliente']
produto = faculdade['Produto']
agrup_produto = faculdade['Agrupamento Produto']